body{
    font-family: 'Wire One', sans-serif;
    background: #bd1430d0;
    font-size: 50px;
}
.header_div{
    background: rgba(37, 37, 37, 0.9);
    color: rgba(255, 87, 36, 0.568);
}
.header_div p{
    font-family: monospace;
    color:  skyblue;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.mnDio button{
    font-family: fantasy;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: skyblue;
    bottom: 0;
    width: 100%;
    font-size: 35px;
    background: rgba(37, 37, 37, 0.9);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px green;
}